<table class="table is-fullwidth">
    <thead>
      <tr>
        <% survey.group.user_groups.each do |ug|%>
          <%= ug.user.pseudo %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% survey.proposals.each do |p| %>
        <tr class="table-align-item">
          
        </tr>
      <% end %>
    </tbody>
  </table>