<div class="box edit surveys-new">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p class="error"><%= error %></p>
  <%= render "shared/survey_create_update_form", is_create: true, survey: nil %>
</div>