/*
*= require_tree .
*= require_self
*/
@charset "utf-8";

// bulma variable
$navbar-background-color: hsl(0, 0%, 86%);
$navbar-item-active-color: hsl(236, 68%, 37%);
$card-radius: 1.25rem;
$turquoise: hsl(236, 68%, 37%);
@import "../../../node_modules/bulma/bulma.sass";

// form
.edit {
  margin: 50px 30%;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// table
.table-align-item {
  th {
    vertical-align: middle;
  }
}

// helper
.notice,
.alert {
  color: green;
  text-align: center;
}
.error {
  color: red;
  text-align: center;
}

.d-flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

body {
  background-color: #fafafa;
  min-height: 100vh;
}